@font-face {
    font-family: "arial";
    src: url(/skaletta95-JSFEPRESCHOOL2024Q2/shelter/assets/fonts/ARIAL.TTF);
}

@font-face {
    font-family: "georgia";
    src: url(/skaletta95-JSFEPRESCHOOL2024Q2/shelter/assets/fonts/georgia.ttf);
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

/*MAYBE ITS WILL BE BETTER*/

a.button {
    text-decoration: none;
    margin: 0;
    color: #292929;
    text-align: center;
    font-family: "georgia";
}

body {
    font-family: "arial";
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    margin: 0 auto;
}

.wrapper-not-only {
    width: 100vw;
    background: url(../../assets/images/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-size: cover;
}

.main-container {
    max-width: 1280px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 40px 60px;
}

/*header*/

.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

.nav-list {
    display: flex;
    gap: 35px;
    list-style: none;
}

.main-header > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 60px;
}

.brand {
    width: 186px;
    font-family: "georgia";
    text-decoration: none;
    color: #F1CDB3;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
}

.brand-sub {
    font-family: "arial";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
}

#spec-item {
    border-bottom: 3px solid #F1CDB3;
}

#spec-item a {
    text-decoration: none;
    color: #FAFAFA;
    line-height: 24px;
    cursor:alias;
}

.nav-item a {
    text-decoration: none;
    color: #CDCDCD;
    line-height: 24px;
}

.nav-item a:hover {
    color: #FAFAFA;
}

.nav-item {
    transition: 0.05s;
}

.nav-item:active {
    border-bottom: 3px solid #F1CDB3;
}

/*main*/

.main-section {
    display: flex;
    column-gap: 42px;
    row-gap: 8.58%;
    top: 4em;
    max-height: 728px;
    position: relative;
}

.text {
    width: 28.75rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2.625rem;
}

/*media for not only*/


.text .button {
    text-align: center;
    align-content: center;
}

.text > p {
    margin: 0;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    color: #CDCDCD;
}

.text > h2 {
    font-size: 44px;
    line-height: 57.2px;
    font-weight: 400;
    font-family: "georgia";
    margin: 0;
    color: #FFFFFF;
}

h1 {
    font-family: "georgia";
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    margin: 27px 0;
    color: #FFFFFF;
}

.puppy {
    height: auto;
}

.button {
    width: 12.9375rem;
    height: 3.25rem;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: none;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.3;
    font-size: 1.063rem;
    letter-spacing: 0.06em;
}

.button:hover {
    background-color: #FDDCC4;
}

/*About the shelter*/

.wrapper-about {
    width: 100vw;
    background: #FFFFFF;
}

.about {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    margin: 0 auto;
    padding: 80px 40px 100px;
}

.about-shelter {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.about-shelter h3 {
    font-family: "georgia";
    font-size: clamp(1.563rem, 1.354rem + 1.04vw, 2.188rem);
    line-height: 1.3;
    font-weight: 400;
    color: #545454;
    margin: 0;
    letter-spacing: 0.06em;
}

.about-shelter p {
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    margin: 0;
}

/*Our friends*/

.wrapper-our-friends {
    width: 100vw;
    background: #F6F6F6;
}

.our-friends {
    max-width: 1280px;
    width: 100%;
    height: 877px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
    padding: 80px 40px 100px;
    position: relative;
}

.our-friends > h3 {
    text-align: center;
}

.our-friends h3 {
    font-family: "georgia";
    font-size: clamp(1.563rem, 1.354rem + 1.04vw, 2.188rem);
    line-height: 1.3;
    font-weight: 400;
    color: #545454;
    margin: 0;
    letter-spacing: 0.06em;
    align-self: center;
}

.slider {
    max-height: 435px;
    display: flex;
    justify-content: center;
    gap: 90px;
    position: relative;
}

.slide {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.3s cubic-bezier(.17,.67,.83,.67);
}

.slide:hover {
    box-shadow:0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FFFFFF;
}

.slide p {
    font-family: "georgia";
    letter-spacing: 0.06em;
    line-height: 22.72px;
    font-size: 20px;
    font-weight: 400;
    color: #545454;
    margin: 0;
}

.slide .slide-button {
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    font-family: "georgia";
    letter-spacing: 0.06em;
    line-height: 22.1px;
    padding: 15px 45px;
    margin: 0;
    border-radius: 100px;
    border: solid #FDDCC4;
    background: #FAFAFA;
    cursor: pointer;
    text-decoration: none;
}

.slide:hover > .slide-button {
    background: #FDDCC4;
    border: solid #FDDCC4;
}

.our-friends > a.more {
    align-self: center;
    align-content: center;
    width: 261px;
    font-family: "geogia";
    font-weight: 400;
    font-size: 17px;
    padding: 15px 45px;
    margin: 0;
    background: #F1CDB3;
    color: #292929;
    letter-spacing: 0.06em;
    line-height: 22.1px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.our-friends .more {
    align-self: center;
}

.our-friends > a:hover {
    background: #FDDCC4;
}

.more {
    color: #292929;
    text-decoration: none;
}

.left-arrow {
    width: 52px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    position: absolute;
    left: 0px;
    top: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.right-arrow {
        width: 52px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid #F1CDB3;
        position: absolute;
        right: 0px;
        top: 192px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
    background: #FDDCC4;
    border: #FDDCC4;
}

.left-arrow:active,
.right-arrow:active {
    background: #FFFFFF;
    border: solid #CDCDCD;
}

.left-arrow:active svg,
.right-arrow:active svg{
    filter: invert(75%) sepia(30%) saturate(0%) hue-rotate(275deg) brightness(103%) contrast(93%);
}

/*help*/

.wrapper-help {
    width: 100vw;
    background: #FFFFFF;
}

.help {
    max-width: 1280px;
    width: 100%;
    height: 611px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
    padding: 80px 40px 100px;
    position: relative;
}

.help-content h3 {
    text-align: center;
}

.help h3 {
    font-family: "georgia";
    font-size: clamp(1.563rem, 1.354rem + 1.04vw, 2.188rem);
    line-height: 1.3;
    font-weight: 400;
    color: #545454;
    margin: 0;
    letter-spacing: 0.06em;
    align-self: center;
}


.help-ways {
    display: flex;
    gap: 55px 120px;
    flex-wrap: wrap;
    justify-content: center;
}

.way {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

h4 {
    font-family: "georgia";
    font-weight: 400;
    font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
    line-height: 23px;
    letter-spacing: 0.06em;
    align-self: center;
    color: #292929;
    margin: 0;
}

/*donat*/

.wrapper-donat {
    width: 100vw;
    background: #F6F6F6;
}

.donat {
    max-width: 1280px;
    width: 100%;
    height: 462px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 80px 40px 100px;
}

.donat-content {
    max-width: 380px;
    max-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.donat-content h3 {
    text-align: start;
}

.donat-content h3 {
    font-family: "georgia";
    font-size: clamp(1.563rem, 1.354rem + 1.04vw, 2.188rem);
    line-height: 1.3;
    font-weight: 400;
    color: #545454;
    margin: 0;
    letter-spacing: 0.06em;
}

.donat-content h5 {
    height: 17px;
    font-family: "georgia";
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.bank-card {
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    background: #F1CDB3;
    border-radius: 9px;
    text-decoration: none;
    padding: 15px 10px;
}

.bank-card img {
    align-self: center;
}

.bank-card h4 {
    font-family: "georgia";
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.donat-content p {
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin: 0;
}

/*footer*/

.wrapper-footer {
    width: 100vw;
    background: url(../../assets/images/footer-gradient-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    background-size: cover;
}

footer {
        max-width: 1280px;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 160px;
        margin: 0 auto;
        padding: 40px 40px 0;
}

.footer-section {
    max-width: 300px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 234px;
    margin-top: 16px;
}

footer h3 {
    font-family: "georgia";
    font-size: clamp(1.563rem, 1.354rem + 1.04vw, 2.188rem);
    line-height: 1.3;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0.06em;
}

.footer-email,
.footer-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 32px;
}

footer a {
    text-decoration: none;
}

footer h4 {
    font-family: "georgia";
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}   

.footer-loc {
    display: flex;
    gap: 20px;
}

.footer-email:hover h4,
.footer-tel:hover h4,
.footer-loc:hover h4 {
    color: #FAFAFA;
}
.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 33px;
    height: 234px;
    margin-top: 16px;
}

.footer-puppy {
    align-self: flex-start;
}

.only-one {
    display: none;
}

.mobile {
    display: none;
}

/* adaptation for 768px screen */

@media screen and (max-width: 1050px) {
    .main-container {
        padding: 30px 30px 60px;
        height: 1168px;
    }

    .nav-list {
        padding: 0;
    }

    .main {
        position: relative;
    }

    .main-section {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 100px;
        position: relative;
        top: 2rem;
    }

    .text > .button {
        align-self: center;
    }

    .puppy {
        width: 569px;
        align-self: center;
        margin-left: 130px;
    }
}

@media screen and (max-width: 1050px) {
    .about {
        height: 1048px;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 80px;
    }

    .about-shelter {
        order: -1;
    }
}

@media screen and (max-width: 1225px) {
    .slider {
        gap: 40px;
    }

    .slide__none {
        display: none;
    }

    .left-arrow {
        left: -12px;
    }

    .right-arrow {
        right: -12px;
    }
}

@media screen and (max-width: 1050px) {
    .help {
        padding-bottom: 100px;
    }
    .help h3 {
        padding-top: 0;
    }
    .help {
        height: 779px;
        justify-content: flex-start;
    }

    .help-ways {
        gap: 55px 60px
    }

    .way {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 1108px) {
    .help {
        padding-bottom: 180px;
    }
    .help h3 {
        padding-top: 100px;
    }
}
@media screen and (max-width: 1050px) {
    .help {
        padding-bottom: 100px;
    }
    .help h3 {
        padding-top: 0;
    }
}
@media screen and (max-width: 1050px) {
    .donat {
        height: 783px;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 60px;
    }

    .donat-content {
        order: -1;
    }
}

@media screen and (max-width: 1225px) {
    #footer {
        flex-direction: row;
        justify-content: center;
        gap: auto;
    }

    .footer-puppy {
        display: none;
    }
}

@media screen and (max-width: 1049px) {
    #footer {
        height: 639px;
        justify-content: center;
        gap: 60px 45px;
        flex-wrap: wrap;
        padding: 30px 30px 0;
    }

    .footer-section {
        margin: 0;
    }

    .footer-puppy {
        display: block;
    }
}

/* adapt for mobile */

@media screen and (max-width: 767px) {
    .main-container {
        padding: 30px 20px 32px;
        height: auto;
    }
    .main-section {
        justify-content: space-between;
        row-gap: 105px;
    }
    nav {
        display: none;
    }
    .mobile {
        display: inline-block;
    }

    .main-header {
        justify-content: space-between;
        align-items: center;
    }

    .main-container h2 {
        font-size: clamp(1.563rem, 0.714rem + 4.24vw, 2.75rem);
        line-height: 1.3;
        text-align: center;
    }

    .text {
        align-items: center;
        width: auto;
    }

    .text p {
        text-align: center;
    }
    
    .puppy {
        width: 260px;
        margin-left: 25px;
    }
    
}

@media screen and (max-width: 450px) {
    .text p {
        width: 300px;
        height: 96px;
    }
}
/* about the shelter adapt for mobile */
@media screen and (max-width: 767px) {
    .about {
        padding: 42px 25px 0;
        height: auto;
        row-gap: inherit;
    }
    .about-shelter {
        width: auto;
        height: auto;
        text-align: center;
    }
    .about-shelter p {
        text-align: justify;
    }
    .about img {
        width: 260px;
        height: auto;
        margin: 35px 0;
    }
}
/* our friends adapt for mobile */
@media screen and (max-width: 767px) {
    .our-friends {
        padding: 42px 10px 42px;
        height: auto;
        gap: inherit;
    }
    .our-friends h3 {
        margin-bottom: 42px;
    }
    .right-arrow {
        right: 58px;
        top: 455px
    }
    .left-arrow {
        left: 58px;
        top: 455px;
    }
    .our-friends a.more {
        margin-top: 113px;
    }
}
@media screen and (max-width: 600px) {
    .slide:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .help {
        padding: 0px 15px 42px;
        height: auto;
        gap: inherit;
    }
    .help h3 {
        padding: 42px 0;
    }
    .help-ways {
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 22px;
        column-gap: 40px;
    }
    .way {
        flex-basis: 43%;
        gap: 20px;
        text-align: center;
    }
    .way svg {
        max-height: 50px;
    }
}
/* donat adapt for mobile */

@media screen and (max-width: 767px) {
    .donat {
        padding: 42px 18px 42px;
        height: auto;
        row-gap: 36px;
    }
    .donat h3 {
        text-align: center;
    }
    .donat h5 {
        font-size: clamp(0.844rem, 0.777rem + 0.34vw, 0.938rem);
    }
    .donat-content {
        align-items: center;
        max-width: auto;
        max-height: auto;
        gap: 24px;
    }
    .bank-card {
        height: auto;
        padding: 10px 15px;
    }
    .bank-card h4 {
        font-size: clamp(0.938rem, 0.714rem + 1.12vw, 1.25rem);
    }
    .donat p {
        text-align: justify;
    }
    .donat-dog img {
        width: 260px;
        height: auto;
    }
}
/* footer adapt for mobile */

@media screen and (max-width: 767px) {
    #footer {
        height: auto;
        padding: 30px 10px 0px;
        gap: 15px;
    }
    .contacts,
    .location {
        align-items: center;
    }
    footer h3 {
        text-align: center;
    }
    .footer-puppy {
        width: 260px;
        height: auto;
        margin-top: 12px;
    }
    .footer-loc:nth-child(3) {
        margin-left: -30px;
    }
    .footer-section {
        gap: 40px;
        justify-content: start;
    }
    .location h3 {
        padding: 0 10px;
    }
}