@font-face {
    font-family: "arial";
    src: url(/skaletta95-JSFEPRESCHOOL2024Q2/shelter/assets/fonts/ARIAL.TTF);
}

@font-face {
    font-family: "georgia";
    src: url(/skaletta95-JSFEPRESCHOOL2024Q2/shelter/assets/fonts/georgia.ttf);
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

/*MAYBE ITS WILL BE BETTER*/

a {
    text-decoration: none;
    margin: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: "arial";
    color: #545454;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    
}

.main-container {
    background-color: #FAFAFA;
    width: 100%;
    height: 1812px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*header*/

.wrapper {
    background-color: #FFFFFF;
    height: 120px;
}

header {
    width: 1280px;
    height: 120px;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-title {
    font-family: "georgia";
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.logo-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    color: #292929;
    margin: 0;
}

/*nav-bar*/

nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 36px;
}

.nav-item a {
    color: #545454;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.nav-item:not(.always) a:hover {
    color: #292929;
}

.nav-item:not(.always):active {
    border-bottom: 3px solid #F1CDB3;
}

.always {
    border-bottom: 3px solid #F1CDB3;
}

.always a {
    color: #292929;
    cursor: alias;
}

/*main*/

.main {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 45px;
    padding: 80px 40px 100px;
}

.our-pets__content {
    width: 400px;
    height: 90px;
}

.our-pets__content h1 {
    text-align: center;
    font: normal 35px/45.5px "georgia";
    letter-spacing: 0.06em;
    margin: 0;
    height: 90px;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 40px;
    height: 930px;
}

.card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: #FFFFFF;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.card p {
    font: normal 20px/22.72px "georgia";
    letter-spacing: 0.06em;
    margin: 0;
}

.button {
    width: 187px;
    height: 52px;
    font: normal 17px/22.1px "georgia";
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #FAFAFA;
    margin: 0;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #F6F6F6;
    cursor: pointer;
}

.back,
.next {
    text-align: center;
    font-family: "georgia";
    font: normal 20px/23px "georgia";
    letter-spacing: 0.06em;
    margin: 0;
    color: #292929;
}

.back:disabled {
    border: 2px solid #CDCDCD;
    cursor: alias;
}

.back:disabled h4 {
    color: #CDCDCD;
}

.pagination-number {
    background-color: #F1CDB3;
}

.next:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

/*footer*/

.wrapper-footer {
    width: 100%;
    background: url(../../assets/images/footer-gradient-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    background-size: cover;
}

footer {
    max-width: 1280px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 160px;
    margin: 0 auto;
    padding: 40px 40px 0;
    position: relative;
    
}

.contacts {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
height: 234px;
margin-top: 16px;
}

footer h3 {
font-family: "georgia";
font-size: 35px;
line-height: 45.5px;
font-weight: 400;
color: #FFFFFF;
margin: 0;
letter-spacing: 0.06em;
}

.footer-email,
.footer-tel {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
height: 32px;
}

footer h4 {
font-family: "georgia";
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
color: #F1CDB3;
margin: 0;
}   

.footer-email:hover h4,
.footer-loc:hover h4,
.footer-tel:hover h4{
    color: #FAFAFA;
}

.footer-loc {
display: flex;
gap: 20px;
}


.footer-email:hover svg,
.footer-loc:hover svg,
.footer-tel:hover svg {
    stroke: #FAFAFA;
    fill: #FAFAFA;
    cursor: pointer;
}


.location {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
gap: 33px;
min-width: 300px;
height: 234px;
margin-top: 16px;
}

.footer-puppy {
align-self: flex-start;
}